AmbientSounds_v3.1.2_mc1.16.4.jar filter=lfs diff=lfs merge=lfs -text
astralsorcery-1.16.4-1.13.5.jar filter=lfs diff=lfs merge=lfs -text
minecolonies-0.13.437-RELEASE-universal.jar filter=lfs diff=lfs merge=lfs -text
